:root {
  --purple:#824dff;
  --dark:#0b0b0b;
  --lightDark:#22202b;
  --green:#3ee6b4;
  --darkgreen:#0d3b2d;
  --width:40vw;
  --red:#fd5555;
  --darkred:rgba(255, 86, 86, 0.18);
  --bg:linear-gradient(135deg,var(--dark),var(--lightDark));
  --shadow: 0px 0px 40px 10px #824dff50;
}
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* border: 1px white solid; */
  cursor: url('./cursor.png') 16 16, auto;
}
body{
  padding: 0;
  margin: 0;
  color: #fff;
  background:#22202b;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}
.header {
  display: grid; 
  height: 10vh;
  padding-inline: 20px;
  grid-auto-flow: column; 
  grid-template-columns: 1fr 4fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: "carvLogo addressContainer carvPerDay version"; 
  justify-content: space-evenly; 
  align-content: space-evenly; 
  align-items: center;
  background-image: var(--bg);
}
.carvLogo {
  height: 2vw;
  max-height: 4vw;
  justify-self: start; 
  align-self: center; 
  grid-area: carvLogo; 
}
.addressContainer{
  width: var(--width);
  display: flex;
  justify-self: center; 
  align-self: center; 
  grid-area: addressContainer; 
}
.walletAddress {
  height: auto;
  width: 80%;
  margin: 0;
  padding: 0px 0px 0px 20px;
  font-size: 16px;
  outline: none;
  border: 2px solid var(--purple);
  border-radius: 50px 0px 0px 50px;
  background-color: var(--lightDark);
  color: var(--purple);
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
}
.walletAddress::placeholder{
  color: white;
  text-transform:none;
}
.carvPerDay {
  font-size: 12px;
  font-weight: 800;
  color: var(--purple);
  grid-area: carvPerDay;
  padding-right: 10px;
  justify-self: end; 
  align-self: center; 
}
.version {
  font-size: 12px;
  font-weight: 800;
  justify-self: end; 
  align-self: center; 
  grid-area: version; 
}
.main {
  display: grid;
  height: 90vh;
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "errorContainer"
    "flexboxDiv"
    "disclaimer"; 
  background-image: var(--bg);
}
.timeline {
  grid-area: errorContainer;
  margin-bottom: 40px;
}
.errorContainer {
  position: absolute;
  top: 13%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  font-size: 14px;
  /* width:calc(var(--width)/3); */
  width:60px, 90px;
  margin-bottom: 5%;
  padding-inline: 10px;
  border: 1px var(--red) solid;
  border-radius: 10px;
  background-color:var(--darkred);
  color: var(--red);
  place-self: center;
  transition: 0.25s ease-in all;
  justify-self: center; 
  align-self: center; 
  grid-area: errorContainer; 
}
.errorIcon {
  padding-right: 10px;
}
.errorIcon path,.errorClose path{
  fill: var(--red);
}
.errorClose {
  cursor: pointer;
  padding-left:10px;
  height: auto;
  width: auto;
  transition: 0.2s all ease-in-out;
}
.errorClose:hover{
  transform: scale(1.2);
  transform-origin: center;
  
}
.fetch-btn {
  margin: 0;
  width: 15%;
  padding: 10px;
  height: 44px;
  border: 2px solid var(--purple);
  border-radius:0px 50px 50px 0px;
  background-color: var(--purple);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.fetch-btn:hover{
 box-shadow: var(--shadow);
}

.flexboxDiv {
  width: var(--width);
  border: 2px var(--purple) solid;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius:20px;
  resize: both;
  justify-self: center; 
  align-self: center; 
  grid-area: flexboxDiv; 
  overflow: hidden;
  z-index: 10;
  background-image: var(--bg);
  /* animation:showResultAnimation 3s forwards ease-in-out; */
}
.toggleChart {
  background-color: var(--lightDark);
  border: 1px solid var(--purple);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--purple);
  font-size: 0.8em;
  margin-top: 10px;
  width: calc(var(--width)/7);
}
.toggleChartArrow{
  position: absolute;
  top: 50%;
  right: -18px;
  background-color: #824dff;
  color: white;
  outline: none;
  border: none;
  height: 8dvh;
  width: 40px;
  transform: translateX(5px);
  border-radius: 15px 0px 0px 15px;
  cursor: pointer;
  text-align: left;
  font-size: 18px;
  transition: 0.3s ease-in-out all;
}
.toggleChartArrow:hover {
  background-color: var(--lightDark);
  border: 2px solid var(--purple);
  right: -10px;
  box-shadow: var(--shadow);
  padding-left: 10px;
  z-index: 0;
}
.chartDiv{
  display: grid;
  place-items:center;
  height: 300px;
  width: 400px;
  grid-area:flexboxDiv;
  margin-right: 20px;
  place-self: end;
  align-self: center;
  /* border: 1px white solid; */

}
/* .mainChart {
  border: 2px solid var(--purple);
  border-radius: 15px;
  height: 90%;
  width: 90%;
} */
.mainChart:hover{
  box-shadow: 0px 0px 30px 10px #824dff20;
}
.carvInfo {
  border: 2px solid var(--purple);
  border-radius: 15px;
  height: 90%;
  width: 90%;
  padding: 20px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-image: var(--bg);
  background-size: 200%;
  background-position: right;
}
.carvInfo:hover{
  box-shadow: 0px 0px 30px 10px #824dff20;
}

.infoHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
  margin-bottom: 15px;
}
span.percentChange.green{
  background-color:var(--darkgreen);
  color:var(--green);
  border-radius:50px;
  padding:5px 10px 5px 10px;
  font-weight:400;
  font-size:14px;
}
span.percentChange.red{
  background-color:var(--darkred);
  color:var(--red);
  border-radius:50px;
  padding:4px 15px 4px 15px;
  font-weight:400;
  font-size:14px;
  margin: 1em;
}
.tokenStats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  cursor:url('./carv-token.png');
}
.tokenStats .cardLabel {
  font-weight: 300;
  font-size: 10px;
  color: gray;
}
.tokenStats .cardValue {
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}
.tokenStats .card {
  padding: 0px 8px 0px 8px;
  border-radius: 5px;
  border:1px solid var(--lightDark);
  background-color: var(--lightDark);
  transition: 0.3s ease-in-out all;
}
.tokenStats .card:hover {
  border:1px solid var(--purple);
}
.carvInfo .cardError {
  font-size: 18px;
  color: var(--red);
}
.carvInfo .cardError i {
  border: 1px var(--red) solid;
  border-radius: 100%;
  font-size: 36px;
  color: var(--red);
  padding: 10px 23px;
  margin-bottom: 30px;
}
.rewardHistoryBtn {
  background: none;
  border: none;
  color: var(--purple);
  font-size: 14px;
  grid-column: span 2;
  padding-block:10px 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.backToStatsBtn {
  background: none;
  border: none;
  color: var(--purple);
  font-size: 14px;
  grid-column: span 3;
  padding-block:10px 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.rewardHistoryBtn:hover{
  transform: translateX(10px);
}
.rewardHistory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.resultContainer{
  /* border: 1px rgb(176, 255, 136) solid; */
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-right: 1px solid var(--purple);
}
.rewardCard {
  border-left: var(--purple) solid 5px;
  border-block: var(--lightDark) solid 1px;
  border-right: var(--lightDark) solid 1px;
  height: 60px;
  border-radius: 5px;
  padding: 0px 15px 5px 15px;
  transition: 0.3s ease-in-out all;
  background-color: var(--lightDark);
}
.rewardHistoryMain h3 {
  grid-column: span 3;
  justify-self: center;
  margin-block: 5px 10px;
}
.rewardCard:hover {
  border-left: var(--purple) solid 5px;
  border-block: var(--purple) solid 1px;
  border-right: var(--purple) solid 1px;
}
p.rewardDate{
  font-size: 10px;
  color: gray;
  margin-bottom: 0px;
}
p.rewardTokens {
  font-size: 18px;
  color: var(--purple);
  margin-block: 10px;
}
.resultContainer h1 {
  align-self: center;
}
.total_rewards {
  color: var(--purple);
  font-weight: 800;
}
.nodeStatusContainer{
  /* border: 1px rgb(255, 41, 223) solid; */
  width: 50%;
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-transform: capitalize;
}
.nodeStatusContainer h1 {
  align-self: center;
}
.nodeStatus,.walletStatus{
  text-transform: capitalize;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 50px;
}
.disclaimer {
  justify-self: end;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  justify-self: center; 
  align-self: end; 
  grid-area: disclaimer; 
}
/* Loader starts */
.loader, .loader1, .loader2 {
  width: 12px;
  height: 12px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
  /* Loader ends */

/* CSS For mobile devices */

@media only screen and (max-width: 450px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    touch-action: manipulation;
  }
  p {
    font-size: 0.8em;
  }
  p.tokenPrice{
    font-size: 1em;
    margin-left: -50px;
  }
  .header {
    display: grid; 
    height: 6vh;
    padding: 35px 10px 15px 10px;
    z-index: 1;
  }
  .carvLogo {
    max-width: 100%;
    height: auto;
    z-index: 1;
  }
  .errorContainer {
    width: 60%;
    height: 40px;
    z-index: 2;
  }
  .main {
    display: grid;
    place-items: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    max-height:100vh;
    width: 100%;
    background-color: #22202b;
  }
  .addressContainer {
    width:50dvw;
    padding-left: 15px;
    z-index: 1;
  }
  .walletAddress {
    font-size: 0.8em;
    padding-left: 8px;
  }
  .fetch-btn {
    width: 15dvw;
  }
  .flexboxDiv {
    align-items: start;
    justify-content: start;
    width: 85%;
    font-size: 1em;
    padding: 5px;
    z-index: 0;
    animation-delay: 2s;
  }
  .flexboxDiv h1 {
    font-size: 1.2em;
  }
  .toggleChartArrow {
    width: calc(var(--width)/3.2);
    top: 75%;
    right: -5%;
  }
  .chartDiv{
    grid-area:disclaimer;
    padding-block: 10px;
  }
  .resultContainer{
    height: 100%;
  }
  .nodeStatusContainer {
    padding-left: 10px;
    height: 100%;
  }
  .nodeStatus,.walletStatus{
    text-transform: capitalize;
    padding-inline: 5px;
    padding-block: 3px;
    border-radius: 50px;
  }
  .disclaimer{
    width: 80%;
    font-size: 0.5em;
  }
  .carvPerDay{
    text-align: right;
    font-size: 8px;
    z-index: 1;
  }
  .version {
    display: none;
    z-index: 1;
  }
  .chartDiv {
    height: 30dvh;
    width: 100dvw;
    margin: 0;
    margin-top: -5%;
    transform: scale(0.85);
  }
}


.wand, .wandDust {
  position:absolute;
  top:5%;
  left:55vw;
  margin: 0;
  padding: 0;
  color: var(--purple);
  font-size: 2.5em;
  text-shadow: 0px 0px 30px #824dff;
  offset-path:path("M250 0c605-110 812 790 105 639");
  opacity: 0;
  border: none;
  display: none;
}
.animate {
  opacity: 1;
  display: block;
  animation:animate 2s ease-in-out forwards;
}
.glow {
  animation-delay: 2s;
  animation: glow 2s forwards ease-in-out;
}
.toggleChartArrow::after {
  content: '';
  height: 10px;
  width: 10px;
  background-color: var(--red);
  position: absolute;
  top: 0;
  border-radius: 50%;
  left: 0;
}
@keyframes animate {
    to {
      offset-distance:100%;
      /* transform: scale(2); */
    }
  }
@keyframes showResultAnimation {
  0% {
    height: 5%;
    width: 5%;
    border-radius: 50%;
  }
  100%{
    height: auto;
    width: 45%;
  }
}
@keyframes glow {
    100% {
      box-shadow: var(--shadow);
    }
  }
