:root {
  --purple:#824dff;
  --dark:#0b0b0b;
  --lighDark:#22202b;
  --green:#3ee6b4;
  --width:40vw;
  --red:#fd5555;
  --darkred:rgba(255, 86, 86, 0.18);
  --bg:linear-gradient(135deg,var(--dark),var(--lighDark));
}
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  padding: 0;
  margin: 0;
  color: #fff;
  background:#22202b;
}

.hidden {
  display: none !important;
}
.header {
  display: grid; 
  height: 10vh;
  padding-inline: 20px;
  grid-auto-flow: column; 
  grid-template-columns: 1fr 4fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: "carvLogo addressContainer version"; 
  justify-content: space-evenly; 
  align-content: space-evenly; 
  align-items: center;
  background-image: var(--bg);
}
.carvLogo {
  height: 2vw;
  max-height: 4vw;
  justify-self: start; 
  align-self: center; 
  grid-area: carvLogo; 
}
.addressContainer{
  width: var(--width);
  display: flex;
  justify-self: center; 
  align-self: center; 
  grid-area: addressContainer; 
}
.walletAddress {
  height: auto;
  width: 80%;
  margin: 0;
  padding: 0px 0px 0px 20px;
  font-size: 16px;
  outline: none;
  border: 2px solid var(--purple);
  border-radius: 50px 0px 0px 50px;
  background-color: var(--lighDark);
  color: var(--purple);
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
}
.walletAddress::placeholder{
  color: white;
  text-transform:none;
}
.version {
  font-size: 12px;
  font-weight: 800;
  justify-self: end; 
  align-self: center; 
  grid-area: version; 
}
.main {
  display: grid;
  height: 90vh;
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "errorContainer"
    "flexboxDiv"
    "disclaimer"; 
  background-image: var(--bg);
}
.errorContainer {
  position: absolute;
  top: 13%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width:calc(var(--width)/3);
  margin-bottom: 5%;
  border: 1px var(--red) solid;
  border-radius: 10px;
  background-color:var(--darkred);
  color: var(--red);
  place-self: center;
  transition: 0.25s ease-in all;

  justify-self: center; 
  align-self: center; 
  grid-area: errorContainer; 
}
.errorIcon path,.errorClose path{
  fill: var(--red);
}
.errorClose {
  cursor: pointer;
}
.fetch-btn {
  margin: 0;
  width: 15%;
  padding: 10px;
  height: 44px;
  border: 2px solid var(--purple);
  border-radius:0px 50px 50px 0px;
  background-color: var(--purple);
  color: white;
  cursor: pointer;
}
.flexboxDiv {
  width: var(--width);
  border: 2px var(--purple) solid;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius:20px;

  justify-self: center; 
  align-self: center; 
  grid-area: flexboxDiv; 
}
.resultContainer{
  /* border: 1px rgb(176, 255, 136) solid; */
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-right: 1px solid var(--purple);
}
.resultContainer h1 {
  align-self: center;
}
.total_rewards {
  color: var(--purple);
  font-weight: 800;
}
.nodeStatusContainer{
  /* border: 1px rgb(255, 41, 223) solid; */
  width: 50%;
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-transform: capitalize;
}
.nodeStatusContainer h1 {
  align-self: center;
}
.nodeStatus,.walletStatus{
  text-transform: capitalize;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 50px;
}
.disclaimer {
  justify-self: end;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  width: 100%;

  justify-self: center; 
  align-self: end; 
  grid-area: disclaimer; 
}
/* Loader starts */
.loader {
  width: 12px;
  height: 12px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
  /* Loader ends */

/* CSS For mobile devices */

@media only screen and (max-width: 450px) {
  p {
    font-size: 0.8em;
  }
  .header {
    display: grid; 
    height: 6vh;
    padding: 15px 10px 15px 10px;
  }
  .carvLogo {
    max-width: 100%;
    height: auto;
  }
  .errorContainer {
    width: 60%;
    height: 40px;
  }
  /* .errorContainer::after{
    content: "X";
    position: absolute;
    top: -10px;
    right: -10px;
    border: 1px var(--red) solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: var(--darkred);
    padding: auto;
    cursor: pointer;
  } */
  .main {
    display: grid;
    place-items: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    height:90vh;
    width: 100vw
  }
  .addressContainer {
    width:100%;
    z-index: 1;
    padding-left: 15px;
  }
  .walletAddress {
    font-size: 0.8em;
    padding-left: 8px;
  }
  .flexboxDiv {
    align-items: start;
    justify-content: start;
    width: 85%;
    font-size: 1em;
    padding: 5px;
  }
  .flexboxDiv h1 {
    font-size: 1.2em;
  }
  .resultContainer{
    height: 100%;
  }
  .nodeStatusContainer {
    padding-left: 10px;
    height: 100%;
  }
  .nodeStatus,.walletStatus{
    text-transform: capitalize;
    padding-inline: 5px;
    padding-block: 3px;
    border-radius: 50px;
  }
  .disclaimer{
    width: 80%;
    font-size: 0.5em;
  }
}